
.pageHeader{
    top: 0px;
    width: 100%;
    height: auto;
}

.movieContent{
    align-items: center;
    display: flex;
    background-color: lightblue;

}
.movieContainer{
    
    border-style: solid;
    margin: 5px;
    flex-direction: row;
    width: 1020px;
    height: 620px;
    display: flex;
}


.imgContainer {
    top: 5px;
    position: relative;
    margin: 2px;
    border-style: dashed;
    height: 600px;
    width: 500px;
}

.movieImage {

    height:100%; width:100%;
}


.contentContainer{
    top: 5px;
    position: relative;
    height: 600px;
    width: 500px;
}



.titleContainer{
    border-top-style: ridge;
    border-left-style: ridge;
    border-right-style: ridge;

    background-color: lightgrey;
    display: flex;
    height: 50px;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.title{
    font-size: xx-large;
}

.ratingContainer{
    border-top-style: ridge;
    border-left-style: ridge;
    border-right-style: ridge;

    background-color: lightgreen;
    display: flex;
    height: 50px;
    width: 500px;
    align-items: center;
    justify-content: center;
}

.directorContainer{
    border-top-style: ridge;
    border-left-style: ridge;
    border-right-style: ridge;
    background-color: lightcoral;
    display: flex;
    height: 50px;
    width: 500px;
    align-items: center;
    justify-content: center;
}

#starringContainer{
    border-top-style: ridge;
    border-left-style: ridge;
    border-right-style: ridge;
    background-color: turquoise;
    display: flex;
    height: 200px;
    width: 500px;
    justify-content: center;
    flex-direction: column;
}
#starringContainer,h1{
    text-align: center;
}


#starringContainer,div {
    display: flex;
    flex-direction: column;
}
#starringContainer,div,h3{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: medium;
}

.ratingText{
    font-size: medium;
}

.descriptionContainer{
    border-style: ridge;
    background-color: lightpink;
    height: 250px;
    width: 500px;
}

.description{
    font-size: small;
}

