.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.Background{
	background-image: url("./static/Home.jpg");
	background-size: 100% 100%;
	width: 100%;
	height: 100%;
	
	
}

.searchMovieform {
    width: 800px;
    margin-left: auto;
    margin-right: auto;
    top: 300px;
    justify-content: center;
}

.searchButton {
	position: absolute;
    width: 10%;
    margin-left: 80%;
    top: 50%;
}

.Login_Signup{

}

.Login_SignupButton{
	position: absolute;
	width: 15%;
	margin-left: 45%;
	top: 60%;

}

.Banner{
	margin-top: 150px;
	margin-left: 300px;
}
.Banner img{
	width: 75%;
	height: 100%;
}