#contentRG {
	display: flex;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  padding: 15px;
	padding-bottom: 5px;
  text-align: justify;
}

#datetimeRG {
	padding-left: 15px;
	color: #484848;
}

#commentsRG {
	border-radius: 10px;
	padding: 15px;
	margin-top: 10px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
  border: 1px solid black;
	padding-left: 20px;
}

#spoilerTagRG {
	color: #ff9933;
	text-align: center;
}

#votes-upRG {
	margin: 5px;
	margin-left: 10px;
}

#votes-downRG {
	margin: 5px;
}
