
#editProfileModal {
  width: 450px;
	height: 440px;
	float: left;
  background-color: #008080;
  border-radius: 12px;
}

#updateButton {
  position: relative;
	margin-left: 30px;
	display: inline-block;
}

#cancelButton {
	position: relative;
	display: inline-block;
  margin-left: 140px;
  /* margin-top: 20px; */
}

#pageHeader {
  height: auto;
	width: 450px;
	float: left;
  font-size: 20px;
	/* background-color: green; */
	border-color: black;
	text-align: center;
	/* margin-bottom: 10px; */
	font-weight: bold;
	/* border-bottom: 1px solid grey; */
	/* padding-bottom: 5px; */
}

.editProfileBody {
  width: 450px;
	height: 320px;
	float: left;
	/* margin-top: 10px; */
}

.profileInput {
  width: 450px;
	height: 300px;
	float: left;
}

.buttons {
  width: 450px;
	height: 70px;
	float: left;
}

#changeProfilePicBtn {
  position: relative;
  margin-left: 20px;
  margin-top: 10px;
  display: inline-block;
}

.image-form {
  text-align: center;
  height: 72;
  width: 450;
}

.image-form-field {
  width: 450;
}

#image {

}

#image-form-submit-button {
  position: relative;
  display: inline-block;
}

.descriptionForm {
  width: 410;
  height: 238;
  margin-left: 20px;
  margin-right: 20px;
}
