#pagesHeader {
    position: relative;
    width: 1000px;
    top: 35px;
    margin-left: auto;
    margin-right: auto;
}

#headersText {
	text-align: center;
	font-family: Impact, Charcoal, sans-serif;
	font-size: 45px;
	color: black;
}

.Revs {

}

.AddMovieButton {
  position: relative;
  top:30px;
  left: 47%;
}
