#pageFeed, #addreviewmain, #userProfile, .searchBar {
  background-color: #202020;
  color: white;
  height: 100%;
  width: 100%;
  padding-bottom: 30px;
}

.reviewUserPic {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.reviewUserPicLi {
	padding-right: 15px;
}
