.movieContainer{
    flex-direction: row;
    width: 800px;
    height: 400px;
    display: flex;
}

.imgContainer {
    height: 400px;
    flex: 1;
}

.imgContainer.img {
    height: 100%;
    width: 100%;
}


.contentContainer{
    height: 400px;
    width: 500px;
    flex: 3;
}


.titleContainer{
    height: 100px;
    flex: 3;
}

.titleContainer.p{
    font-size: large;
}

.descriptionContainer{
    height: 200px;
    flex: 3;
}

.descriptionContainer.p{
    font-size: small;
}