.form {
    top: 100px;
    width: 300px;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    display: flex;

    flex-direction: column;
}
.centerAvatar{
    display: flex;
    justify-content: center;
}

#avatar{
    width: 100px;
    height: 100px;
}

.formContainer {
    width: 100%;
    height: 100%;
}

.loginButton {
    width: 100%;
}

#addGenreButton{
    margin-bottom: 5px;
    width: 100%;
}

.welcomeText {
    text-align: center;
    font-size: x-large;

  }

.registeredButtonBox {
    height: 50px;
}

.alreadyRegisteredButton {
    margin: 5px;
    right: 0px;
    position: absolute;
}

.checkBoxesContainer{
    width: 100%;
    height: 100%;
}

.selectImage{
    width: 100%;
    text-align: center;
}

.centerText{
    width: 100%;
    text-align: center;
}
