#mainMenuBar {
	padding: 10px;
	background-color: lightgray;
	align-content: center;
	width: 100%;
}

#mainMenuBar ul {
	padding: 3px;
	align-items: center;
	display: flex;
  	justify-content: center;
}

#mainMenuBar ul li {
	margin-right: 20px;
	font-weight: bold;
	list-style: none;
	text-align: center;
	display: inline-block;
}

.mainMenu-btn {
	width: 300px;
}